*.o
*.lo
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
cscope.out
depcomp
dracut/Makefile
dracut/Makefile.in
dracut/tpm-luks.conf
install-sh
libtool
ltmain.sh
m4
missing
swtpm-utils/.deps/
swtpm-utils/Makefile
swtpm-utils/Makefile.in
swtpm-utils/getcapability
swtpm-utils/lib/.deps/
swtpm-utils/lib/.libs/
swtpm-utils/lib/libtpm.la
swtpm-utils/lib/Makefile
swtpm-utils/lib/Makefile.in
swtpm-utils/nv_readvalue
tpm-luks.spec
yum/tpm-luks.action
tpm-luks/tpm-luks-parse-config
